<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>保健按摩师模拟考试系统</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/vant.css" />
  </head>
  <body>
    <script src="./lib/vue.global.js"></script>
    <script src="./lib/vant.min.js"></script>
    <div id="app">
      <h1>保健按摩师初级理论知识试卷</h1>
      <h2>
        <span>*绿色文字是正确答案</span>
        <van-button type="primary" size="small">开始模拟考试</van-button>
      </h2>

      <h3>选择题</h3>

      <div class="choice-item" v-for="item in data.choices" :key="item.id">
        <span class="question">{{item.title}}</span>
        <div class="answer">
          <div>
            <span :class="isChiceRight(item,0)">{{item.options[0]}}</span>
            <span :class="isChiceRight(item,1)">{{item.options[1]}}</span>
            <span :class="isChiceRight(item,2)">{{item.options[2]}}</span>
            <span :class="isChiceRight(item,3)">{{item.options[3]}}</span>
          </div>
        </div>
      </div>

      <h3>判断题</h3>

      <div class="judge-item" v-for="item in data.judges" :key="item.id">
        <div class="question">{{item.title}}</div>
         <div class="answer">
          {{item.answer}}
          </div>
        </div>
      </div>

      <div style="height: 1.5rem"></div>
    </div>

    <script>
      const { createApp, ref } = Vue

      fetch('./data.json')
        .then((response) => response.json())
        .then((data) => {
          initApp(data)
        })
        .catch((error) => console.error('Error loading data:', error))

      function initApp(data) {
        const app = createApp({
          setup() {
            function isChiceRight(item, index) {
              return item.options[index].indexOf(item.answer) > -1
                ? 'right'
                : ''
            }

            return {
              data,
              isChiceRight,
            }
          },
        })
        app.use(vant)
        app.mount('#app')
      }
    </script>
  </body>
</html>
