h1 {
  font-size: 1.3rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 > span {
  color: red;
}

body {
  padding: 0 1rem 0 1rem;
}

.right{
  color: green;
}

.choice-item,.judge-item{
  margin-top: 1.2rem;
}

.choice-item .answer{
  margin-top: 0.3rem;
}

.choice-item .answer div {
  display: flex;
  flex-direction: column;
}

.judge-item .answer {
  margin-top: 0.3rem;
  color: green;
}
